.div{
    background-color: rgba(247, 199, 127, 0.418);
    height: 50px;
    margin-top: 5px;
  }
  .nav-link {
    font-size: 15px;
    color: black;
  }
  img {
    position: relative;
    right: 17px;
    margin-top: 0;
  }